# A configuration file for a Jibo TTS voice
# Currently the following configuration options are possible:
# durStretch : Stretch the duration of all utterances by durStretch * double. 1.0 is default value
# pitchAddHalftone : Add a number of additional half-tones to the pitch of all utterances equal to value given. 0.0 is default value
# pitchVarianceMod : Change the pitch Variance/Bandwidth when synthesising for more or less varying pitch. 1.0 is equal to no change from model predicted. 1.2-1.3 seems a good range to be in.
# mgcVarianceMod : Change the mgc Variance/Bandwidth when synthesising for more or less varying mgc parameters (generally to reduce buzz). 1.0 is equal to no change from model predicted. 1.2-1.3 seems a good range to be in.
# engineAlpha : The all pass filter value for the HTS voice engine. See HTS_Engine documentation for effect.
# engineBeta : The MLSP post-filter value for the HTS voice engine. See HTS_Engine documentation for effect.
# charLimit : Maximal number of input characters after markup has been parsed.
durStretch = 1.0
pitchAddHalfTone = 3.0
pitchVarianceMod = 1.1
mgcVarianceMod = 1.2
engineAlpha = 0.53
engineBeta = 0.4
charLimit = 600
